.promo{
    position: relative;
    min-height: 700px;
    padding-top: 39px;
    background: url(../img/main.jpg) center center/cover no-repeat;
    &__carousel{
        margin-top: 125px;   
    }
    &__title{
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        line-height: 47px;
        letter-spacing: 0.39px;
    }
    &__descr{
        margin-top: 25px;
        color: #fff;
        font-size: 24px;
        font-weight: 300;
        line-height: 28px;
        margin-bottom: 39px;
        span{
            font-weight: 400;
        }
    }
    &__phone{
        display: block;
        right: 0;
        bottom:0;
        position: absolute;

    }
    .container{
        min-height: 661px;
    }
    .carusel__inner .slide{
        max-width: 524px;
    }
}

@media (max-width: 1140px){
    .promo{
        .header{
            justify-content: space-around;
        }
        &__carousel{
            padding-left: 90px;      
        }
    }
}


@media (max-width: 1052px){
    .promo{        
        &__phone{
            width: 38%;   
        }
    }
}

@media (max-width: 768px){
    .promo{
        position: relative;
        .hamburger{
            display: block;
            position: absolute;
            right: 10px;
            transform: translateY(-50%);
            width: 26px;
            height: 12px;
            span{
                display: block;
                height: 2px;
                width: 100%;
                background-color: #fff;
                margin-bottom: 2px;
                transition: 0.6s all;
            }
            &_active{
                span{
                    margin-bottom: -2px;
                    &:nth-child(1){
                        transform: translateY(3px) rotate(-45deg);
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        transform: translateY(3px) rotate(45deg);
                    }
                }
            }
        }
        .header__menu{
            position: fixed;           
            flex-direction: column;          
            justify-content: space-evenly;
            top: 0;
            left: -100%;
            width: 42%;
            height: 100vh;
            padding: 20px 15px;
            background: rgba(255, 255, 255, 0.8);           
            transition: 0.6s all;
            align-items: center;
            z-index: 1;
            &_active{
                left: 0%;
            }
            a{
                color:#000;
            }
            li{
                margin-left: 0;
            }
        }
    }
}